body { background: #394596; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 47px; display: flex; }
.block-cache-0 { color: #893951; font-size: 13px; margin-bottom: 5px; }
.block-email-1 { color: #4a95cd; font-size: 19px; margin-bottom: 5px; }
.block-logger-2 { color: #ed9fb5; font-size: 21px; margin-bottom: 5px; }
.block-helper-3 { color: #753329; font-size: 14px; margin-bottom: 5px; }
.block-helper-4 { color: #54fa4e; font-size: 21px; margin-bottom: 5px; }